body {
  width:  100%;
  height: 100%;
  margin: 0px;
  font-family: 'Avenir Next',sans-serif;
  padding-top: 60px;
}

.hide {display: none!important;}
h1 {
  font-family: 'Avenir Next Condensed';
  font-style: italic;
  text-transform: uppercase;
}
h1 em {
  font-family: 'Avenir Next';
  font-size: 0.6em;
  color: #aaa;
  text-transform: none;
  font-weight: normal;
}
header,
section {
  width: 660px;
  margin: 2em auto
}

section {
  border-top: 1px solid rgba(0,0,0,0.2);
  padding: 1em 0;
}

#results {
  width: 100%;
  height: 200px;

}

#results.empty {
  background: url('./img/loader.gif') no-repeat center center;
}

.result {
  clear: both;
  width: 100%;
  min-height: 100px;
  display: block;
}

.thumb {
  width: 60px;
  height: 60px;
  overflow: hidden;
  display: inline-block;
  float: left;
  margin-right: 12px
}

#bar {width: 50%;height: 12px;position:relative;background: #fafafa;display: block;border: 1px  solid #888}

#progress,
#buffered {position: absolute;top:0;left:0;width: 0%;height:12px;background: blue}

#buffered {background: #aaa}

#time {color: #333}
#duration {color: #777;}

#embed {width: 0px;height: 0px;overflow: hidden;}

#controls a {color: blue;text-decoration: underline;cursor: pointer;}
.thumb img {margin-left: -8px;height: 60px}