html, body, div, section, span, h1, h2, h3, h4, h5, h6, p, a, b, ul, ol, li, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  position: relative;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

body {font: 400 1em / 1.33em 'RobotoDraft', sans-serif;padding-left: 266px}
body > section {width: 48em;margin: 1em auto}

.hide {display: none!important;}
.clear {display: block;width: 100%;clear: both}

.floatRight {float: right;}
.floatLeft {float: left;}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #000;
  width: 266px;
  margin: 0
}

  #nav {margin: 12em 0 1em 2em}

  #nav a {
    display: block;
    line-height: 2em;
    margin-bottom: 0.1566em;
    opacity: 0.9;
    text-decoration: none;
    border-radius: 4px 0 0 4px;
    color: #aaa;
  }

  #nav a:hover {background: #fff;color: #000}

  #nav a.selected {
    opacity: 1;
    background: #fff;
    color: #000;
  }


.thumbnail {
  width: 12em;
  height: 12em;
  overflow: hidden;
  display: block;
  float: left;
  margin: 0.5em 0;
}

.thumbnail img {height: 12em;text-align: center}


#discover {
  min-height: 200px;
  width: auto;
  padding: 1em;
}

#results:empty:before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background: url('./images/loader.gif') no-repeat center center;
  background-size: 24px;
}

.song {
  color: #000;
  text-decoration: none;
  display: block;  
  width: 12em;
  height: 18em;
  overflow: hidden;
  float: left;
  margin: 0 2em 0 0;
}

.song .title {font-weight: 500}

.song .stats {
  color: #aaa;
  font-size: 0.88em;
  display: block;
}

.song .description,
.song .stats .source,
.song .stats .ratio,
.song .buttons {
  display: none;
}

#loadMore {
  background: #eee;
  padding: 1em;
  text-align: center;
  border: 1px solid #ccc;
  clear: both;
  display: block;
}

.songList:empty:after {
  content: 'No songs here!';
  margin-top: 1em
}

.listStats {display: none;}

#player {
  position: absolute;
  bottom: 0;
  width: 100%
}
  
  #player .thumbnail {
    width: 14em;
    height: 14em;
    margin: 0 1.3em 0.5em;
  }

  #player .thumbnail img {height: 14em}

  #embeds {
    overflow: hidden;
  }

  #embeds.hidden {
    width:0;
    height: 0;
    position: absolute;
    left: -1000px;
  }

  #SC_EMBED {position: absolute;top:-1000px;left: -1000px;}
  
  #controls {
    margin: 0 auto;
  } 

  #controls a {color: blue;text-decoration: underline;cursor: pointer;}

  #play, #pause,#next,#previous, #shuffle, #repeat{
    display: block;
    float: left;
    text-indent: -1000px;
  }

  #star {
    float: right;
    color: #797979;
    line-height: 2.66em;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0 1em 0 0;
  }

  #star:hover {color: #ccc}

  #star[data-isStarred="starred"] {color: yellow}

  #play, #pause {
    background: url('./images/play.png') no-repeat center center;
    width: 36px;
    height: 36px;
    margin: 12px 6px 0;
    border: 2px solid #fff;
    border-radius: 36px;
    background-size: 18px;
  }

  #pause {
    background-image: url('./images/pause.png');
  }

  #next, #previous {
    background: url('./images/next.png') no-repeat center center;
    width: 16px;
    height: 24px;
    margin: 18px 6px 0;
    background-size: contain;
  }

  #previous {
    background-image: url('./images/previous.png');
    margin-left: 0.75em
  }

#songTitle {
  color: #929292;
  display: block;
  font-size: 0.88em;
  clear: both;
  margin: 0 1.3em 1em
}

#progressBar {
  display: block;
  overflow: visible;  
  background: #333;  
  margin: 0 3.2em 0.5em;
  height: 3px;
  clear: both;
}

#progress,
#buffered {position: absolute;top:0;left:0;width: 0%;height:4px;background: blue}

#progress:after {content: '';display: block;float:right;margin-top:-4px;margin-right:-12px;width: 12px;height: 12px;border-radius: 12px;background: #fff}
#buffered {background: #666}

#currentTime, #songDuration {
  color: #555;
  width: 24px;
  height:1em;
  text-align: right;
  position: absolute;
  left: -40px;
  top:-0.5em;
  font-size: 0.88em
}

#songDuration {position: absolute;left:auto;right: -40px;}


h1 {
  font-size: 1.25em;
}

/* Icon */
a i {
  font-style: normal;
  width: 2.5em;
  display: block;
  float: left;
  text-align: center;
}

select {
  border: 1px solid rgba(0,0,0,0.33);
  font: normal 1em/1.33em 'RobotoDraft', sans-serif;
  outline: none;
}

select:focus {outline: none}
