html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, b, ul, ol, li, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  position: relative;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

.hide {display: none!important;}
.clear {width: 100%;clear: both;height: 0}

body {
  font: 400 1em / 1.33em 'Open Sans', sans-serif;
  padding-top: 60px;
}

header {
  display: none;
  border-bottom: 1px solid #dbd7a8;
}

.sidebar {
  margin: 0 auto;
}

#nav {
  position: fixed;
  width: 12em;
  margin: 1em 0 0 -12em
}

#nav a {
  display: block;
  line-height: 2em;
  text-decoration: none;
  color: #1181ff
}

h1 {
  color: #232323;
  font-size: 1.5em;
  font-weight: 700;
  margin: 2em 0;
}

select {
  border: 1px solid rgba(0,0,0,0.33);
  font: normal 1em/1.33em 'Open Sans', sans-serif;
  outline: none;
}

select:focus {
  outline: none;
}

#type a {
  border-bottom: 3px solid;
  margin-left: 0.25em;
  text-decoration: none;
}

#type #type-song {
  color: #36779d;
  border-color: #d7e4eb;
}
#type #type-album {
  color: #56b2bd;
  border-color: #ddf0f2;
}

#type #type-playlist {
  color: #6abc8b;
  border-color: #e1f2e8;
}

#login {
  float: right;
  margin-right: 1em;
  text-decoration: none;
  color: #535136;
}

#join {
  display: inline-block;
  float: right;
  background: #eb6115;
  border-radius: 3px;
  text-decoration: none;
  line-height: 1.3em;
  padding: 0.5em;
  font-weight: bold;
  margin: 0.5em 0 0 0;
  color: #fff
}

section {
  width: 48em;
  margin: 1em auto
}

#discover {margin: 0 auto;border-top: none;padding-bottom: 10em}
#options, #results, #advanced {margin: 0 auto}


#options {
  padding: 1em 0;
  position: fixed;
  z-index: 1;
  background: #fff;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.3)
}
#results {
  border-top: 1px solid rgba(0,0,0,0.2);
  z-index: 0;
  padding-top: 4em
}

#toggleAdvanced {
  float: right;
  display: none;
  margin-top: 6px;
  text-decoration: none;
  border-bottom: 2px solid #aeaee9;
  color: #3d3ddc;
  font-weight: 500;
}

#reload {margin-left: 12px}

#advanced label {
  display: block;
}

#results {
  width: 100%;
  min-height: 200px;
  position: relative;
  overflow: visible;
  padding-bottom: 30em;
}

#loadMore {
  display: block;
  clear: both;
  width: 100%;
  background: #eee;
  padding: 1em;
  text-align: center;
  border: 1px solid #ccc;
}

#results.empty:before {
  content: "";
  position: absolute;
  top: 0;
  left: -48px;
  width: 24px;
  height: 24px;
  background: url('./images/loader.gif') no-repeat center center;
  background-size: 24px;
}

.song {
  width: 12em;
  padding: 0.75em;
  float: left;
  text-decoration: none;
  color: #000;
  display: block;
  position: relative;
}

.song:hover {
  background: rgba(255,168,0,0.1)
}


.song .title {
  height: 1.33em;
  width: 100%;
  overflow: hidden;
  display: block;
}

.song .stats {display: block;max-height: 1.33em;overflow: hidden;}
.song .stats * {color: #aaa;
  font-size: 0.88em;
  font-family: 'Avenir Next Condensed'
}

.song .thumbnail {

  width: 10.5em;
  height: 10.5em;
  overflow: hidden;
  display: block;
  float: left;
  margin-bottom: 0.66em;
  background: #eee}

  .thumbnail img {height: 10.5;text-align: center}

.song .buttons {
  display: none;
  position: absolute;
  right: 0.75em;
  top: 0.75em;
  left: 0.75em;
  height: 10.5em;
  background: rgba(0,0,0,0.5);
}


.song .buttons span {
  border: 2px solid #bbb;
  box-shadow: 0 1px 0 rgba(0,0,0,0.6);
  text-shadow: 0 1px 0 rgba(0,0,0,0.6);
  border-radius: 4px;
  color: #bbb;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0 0.5em;
}


.song .buttons span:hover,
.song .buttons .starSong.starred {
  border-color: #fff;
  color: #fff
}

.song .buttons .starSong.starred {
  color: yellow
}
.song .buttons .playSong {
  width: 5em;
  height: 5em;
  line-height: 5em;
  position: absolute;
  padding: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  border-width: 4px;
  margin: -2.5em 0 0 -2.5em;
  border-radius: 5em;
}

.song .buttons .queueSong {
  position: absolute;
  bottom: 0.5em;
  left: 50%;
  width: 5.5em;
  margin-left: -2.75em;
}

.song .buttons .removeSong {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.song .buttons .starSong {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}

.song:hover .buttons {
  display: block;
}

.songList .song {
  width: 100%;
  height: 4.5em;
  border-top: 1px solid rgba(0,0,0,0.2)
}

.songList .song .stats {
  float: left;
  line-height: 3em;
  height: 3em;
  max-height: 3em;
}

.songList .song .buttons {
  position: absolute;
  background: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.songList .song .buttons .playSong {
  position: absolute;
  font-size: 0.5em;
  left: 2em;
  right: auto;
  top: 2em;
  bottom: 0;
  margin: 0
}

.songList .song .buttons .removeSong {
  display: none;
}

.songList .song .buttons .starSong,
.songList .song .buttons .queueSong  {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  float: right;
}
.songList .song .thumbnail {
  float: left;
  width: 3em;
  height: 3em;
}

.songList .song .title {
  float: left;
  width: 44%;
  line-height: 3em;
  margin: 0 1em;
  height: 3em;
}

#player {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 60px;
  background: #000;
  color: #fff
}
  
  #controls {
    padding: 0;
    margin: 0 auto;
    position: relative;
  }

  #play, #pause,#next,#previous, #shuffle, #repeat{
    display: block;
    float: left;
    text-indent: -1000px;
  }

  #shuffle, #repeat {
    background: url('./images/shuffle.png') no-repeat center center;
    width: 24px;
    height: 24px;
    margin: 20px 0 0 12px;
    overflow: hidden;
    opacity: 0.5;
    background-size: 24px;   
    float: right; 
  }

  #shuffle.enabled, #repeat.enabled {
    opacity: 1.0
  }

  #repeat {background-image: url('./images/repeat.png');}

  #play, #pause {
    background: url('./images/play.png') no-repeat center center;
    width: 36px;
    height: 36px;
    margin: 12px 6px 0;
    border: 2px solid #fff;
    border-radius: 36px;
    background-size: 18px;
  }

  #pause {
    background-image: url('./images/pause.png');
  }

  #next, #previous {
    background: url('./images/next.png') no-repeat center center;
    width: 16px;
    height: 24px;
    margin: 18px 6px 0;
    background-size: contain;
  }

  #previous {
    background-image: url('./images/previous.png');
    margin-left: 0
  }

#progressBar, #songTitle {
  position:absolute;
  top: 6px;
  left: 160px;right:120px;}

#songTitle {
  color: #929292;
  overflow: hidden;
  text-align: center;
  font-size: 0.88em
}
#progressBar {
  top: 28px;
  overflow: visible;  
  height: 4px;
  background: #333;  
}
#title {height: 1.3em;margin: 0.6em auto ;color: #888}

#progress,
#buffered {position: absolute;top:0;left:0;width: 0%;height:4px;background: blue}

#progress:after {content: '';display: block;float:right;margin-top:-4px;margin-right:-12px;width: 12px;height: 12px;border-radius: 12px;background: #fff}
#buffered {background: #666}

#currentTime, #songDuration {
  color: #555;
  width: 24px;
  height:1em;
  text-align: right;
  position: absolute;
  left: -40px;
  top:-0.5em;
  font-size: 0.88em
}
#songDuration {position: absolute;left:auto;right: -40px;}

#embeds {width: 0px;height: 0px;overflow: hidden;position: absolute;top: -1000px;left: -1000px};


#controls a {color: blue;text-decoration: underline;cursor: pointer;}
.thumb img {margin-left: -8px;height: 60px}