html, body, div, button, span, h1, h2, h3, h4, h5, h6, p, a, b, ul, ol, li, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  position: relative;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

button {
  cursor: pointer;
  background: none;
  outline: none;
  text-align: left;
}

button:focus {outline: none;}

body {font: 400 1em / 1.33em sans-serif;padding-left: 282px}
body > section {width: 48em;margin: 1em auto}
body > section.full {margin: 2em;width: auto;}

.hide {display: none!important;}
.clear {display: block;width: 100%;clear: both}

.floatRight {float: right;}
.floatLeft {float: left;}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #000;
  border-right: 4px solid #fff;
  width: 282px;
  margin: 0
}

  #nav {margin: 2.566em 0 0 2em}

  #nav a {
    font-size: 1.33em;
    padding: 0.66em 0;
    display: block;
    margin-bottom: 0.1566em;
    text-decoration: none;
    border-radius: 4px 0 0 4px;
    color: #aaa;
  }

  #nav a:hover {background: #333}
  #nav a.selected {background: #fff;color: #000}

.thumbnail {
  width: 12em;
  height: 12em;
  overflow: hidden;
  display: block;
  float: left;
  margin-bottom: 0.5em;
}

.thumbnail img {height: 12em;text-align: center}

#results:empty:before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background: url('./images/loader.gif') no-repeat center center;
  background-size: 24px;
}

.song {
  text-decoration: none;
  background: #000;
  display: block;  
  width: 13.333em;
  height: 17.333em;
  overflow: hidden;
  float: left;
  margin: 0 1.334em 1.334em 0;
  color: #fff;
  padding: 0.667em;
}


.song.loading:after,
.song.playing:after {
  content: "Loading...";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 13.334em;
  line-height: 13.334em;
  text-align: center;
  text-transform: uppercase;
  background: rgba(0,0,0,0.3);
  color: #fff
}

.song.playing:after {content: "Playing"}

.song.loading .hoverOverlay,
.song.playing .hoverOverlay {display: none!important}

.song > .play {
  font-size: 0.88em;
  line-height: 1.33em;
  max-height: 2.66em;
  overflow: hidden;
  display: block;
  clear: both;
  color: #eee;
}

.song > .play:hover {text-decoration: underline;}

.song .stats {
  color: #999;
  font-size: 0.75em;
  display: block;
  float: left;
}

.song .hoverOverlay {
  position: absolute;
  top: 0;left: 0;right: 0;
  bottom: 3.5em;
}

.song .hoverOverlay:hover {background: rgba(0,0,0,0.33)}
.song .hoverOverlay:hover button {opacity: 1}

.song .hoverOverlay button {
  background: rgba(255,255,255,0.9);
  color: #000;
  font-weight: 500;
  border: 4px solid #000;  
  padding: 1em;
  display: block;
  opacity: 0;
  cursor: pointer;
}

.song .hoverOverlay button.play {
  font-size: 1.5em;
  margin: 1.5em auto 0;
}

.song button.addToQueue {
  padding: 0.667em;
  margin: 1em auto;
}

.song button.star {
  float: right;
  color: #999
}

.song button.star[data-isStarred="true"] {color: yellow}
         
#options {
  font-size: 1.33em;
  margin-bottom: 1em;
  border-bottom: 2px solid #000;
  padding: 0.66em 0;
}

#loadMore {
  background: #eee;
  padding: 1em;
  text-align: center;
  border: 1px solid #ccc;
  clear: both;
  display: block;
}

.songList:empty:after {
  content: 'No songs here!';
  margin-top: 1em
}

.listStats {display: none;}


#about {position: absolute;bottom: 0;text-align: center;width: 100%;border-top: 1px solid #444;}
#about a {line-height: 4em;font-size: 0.88em;color: #666;text-decoration: none;}
#about a em {border-bottom: 2px solid #444;font-style: normal;}

#resetResults {float: right;margin: 0.33em 0;text-decoration: none;border-bottom: 2px solid rgba(0,0,250,0.3)}
a#resetResults i {width: 1.5em;}

.playerUsed #player {left: 0}

#player {
  border-top: 1px solid #444;
  position: absolute;
  bottom: 4em;
  padding: 1.5em 0.5em 0.5em;
  width: 100%;
  left: -1000px;
}
  
  #player .thumbnail {
    width: 200px;
    height: 200px;
    margin: 0 2em;
    float: none;
  }

  #player .thumbnail img {height: 200px}

  #embeds {
    overflow: hidden;
    height: 200px;
    color: #fff;
    text-align: center;
  }

  #embeds.hidden {
    width:0;
    height: 0;
    position: absolute;
    left: -1000px;
  }

  #SC_EMBED {position: absolute;top:-1000px;left: -1000px;}
  
  #controls {
    margin: 0.5em auto;
    height: 36px
  } 
 
  #play, #pause, #next, #previous, #star, #permalink  {
    position: absolute;
  }

  #star, #permalink {
    color: #797979;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0.33em 0    
  }

  #permalink {left: 1em;
  -moz-transform: scaleX(-1);
          -o-transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          filter: FlipH;
          -ms-filter: "FlipH";
        }
  #star {right: 1em}

  #star:hover {color: #ccc}
  #star[data-isStarred="true"] {color: yellow}

  #play, #pause {
    left: 50%;
    margin-left: -18px;    
    background: url('./images/play.png') no-repeat center center;
    width: 36px;
    height: 36px;
    border: 2px solid #fff;
    border-radius: 100%;
    background-size: 18px;
  }

  #pause {
    background-image: url('./images/pause.png');
  }

  #next, #previous {
    background: url('./images/next.png') no-repeat center center;
    width: 16px;
    height: 24px;
    background-size: contain;
    right: 33%;
    margin: 0.33em 0
  }

  #previous {
    background-image: url('./images/previous.png');
    left: 33%;
    right: auto;
  }

#songTitle {
  display: block;
  text-align: center;
  margin: 1em 0;
  max-height: 1.33em;
  overflow: hidden;
  color: #fff
}

#progressBar {
  background: rgba(255,255,255,0.25);
  display: block;
  height: 8px;
  margin: 1em 3em;
  clear: both;
}

#progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  background: white;
}

#progress:after {
  content: '';
  display: none;
  float:right;
  margin-top:-4px;
  margin-right:-12px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #fff;
}

#currentTime, #songDuration {
  position: absolute;
  top: -0.4em;
  font-size: 0.88em;
  width: 2.66em;
  color: rgba(255,255,255,0.33);
}

#currentTime {left: -3.156em;text-align: right;color: #fff}
#songDuration {right: -3.156em;text-align: left}


h1 {
  font-size: 1.25em;
}

/* Icon */
a i {
  font-style: normal;
  width: 2.5em;
  display: block;
  float: left;
  text-align: center;
}

select {
  border: 1px solid rgba(0,0,0,0.33);
  font: normal 1em/1.33em sans-serif;
  outline: none;
}

select:focus {outline: none}
